@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Source Sans 3", serif;
    /* background-color: #fefce8; */
}

 .active {background: white; border-radius: 9999px; color: #63b3ed;}
 #root-portal {
   
    z-index: 9999; /* Ensure the calendar is above other elements */
  }